<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Voyager | requests</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<header>
    <h1>Approve your invoices</h1>
    <nav>
        <ul>
            <li><a href="/">View all requests</a></li>
            <li><a href="/authorisation/create">Add a request</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img alt="logo" src="/logo.png">
    </div>

</header>
<section>
    <h2>Details request</h2>
    <table class="detail-page-table">
        <tr>
            <td>Supplier:</td>
            <td>{{ authorisation.supplier }}</td>
        </tr>
        <tr>
            <td>Cost Center:</td>
            <td>{{ authorisation.costCenter }}</td>
        </tr>
        <tr>
            <td>Commodity:</td>
            <td>{{ authorisation.commodity }}</td>
        </tr>
        <tr>
            <td>Project ID:</td>
            <td>{{ authorisation.projectId }}</td>
        </tr>
        <tr>
            <td>Amount (excl. VAT):</td>
            <td>&euro; {{ authorisation.amount }}</td>
        </tr>
        <tr>
            <td>Due date:</td>
            <td>{{ authorisation.dueDate|date("d-m-Y") }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ authorisation.description }}</td>
        </tr>
    </table>
    <form class="review-request" action="/authorisation/reject" method="post">
        <input type="hidden" name="authorisation" value="{{ authorisation.id }}">
        <input type="hidden" name="user_reference" value="{{ userReference }}">
        <input type="submit" name="reject" value="Reject" style="color:white; font-weight:bold; background-color:red">
    </form>
    <form class="review-request" action="/authorisation/approve" method="post">
        <input type="hidden" name="authorisation" value="{{ authorisation.id }}">
        <input type="hidden" name="user_reference" value="{{ userReference }}">
        <input type="submit" name="approved" value="Approved" style="color:white; font-weight:bold; background-color:green">
    </form>
</section>
<footer>
    <p>Simplified approval invoice flow</p>
</footer>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
